.about {
  width: 100%;
}
.about .center {
  margin: 0 auto;
}
.about .subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}
.about .screen .intro {
  color: #74705b;
  font-size: 1.2rem;
}
.about .desc {
  padding: 1rem;
  background-color: #f6f6f6;
}
