.about
  width 100%
  .center
    margin 0 auto
  .subtitle
    font-size 1.2rem
    font-weight bold
  .screen
    .intro
      color #74705B
      font-size 1.2rem
  .desc
    padding 1rem
    background-color #F6F6F6