.android
  width 100%
  .center
    margin 0 auto
  .subtitle
    font-size 1.2rem
    font-weight bold
  .screen
    min-height 30rem
    background-color #282923
    display flex
    flex-direction column
    align-items center
    justify-content center
    .title
      color white
      font-size 4rem
      font-weight bold
    .intro
      color #F92372
      font-size 2rem
  .desc
    padding 1rem
    background-color #F6F6F6