.btns {
  text-align: center;
  padding: 1rem;
}
.btns a button {
  width: 100%;
}
.btns a + a {
  margin-left: 10px;
}
.btns .links {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.btns .links .faq-link {
  display: block;
  float: left;
  font-size: 14px;
}
.btns .links .guide-link {
  color: #ff851b;
}
.btns .links .separator {
  margin-left: 5px;
  margin-right: 10px;
  color: #808080;
}
@media (max-width: 600px) {
  .btns a button {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
