.btns {
  text-align: center;
  padding: 1rem;
}
.btns a button {
  width: 100%;
}
.btns a + a {
  margin-left: 10px;
}
.btns .faq-link {
  float: left;
  margin-top: 10px;
  font-size: 14px;
}
@media (max-width: 600px) {
  .btns a button {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
