.episode
  width 100%
  .center
    margin 0 auto
  .subtitle
    margin-bottom 1rem
    font-size 1.2rem
    font-weight bold
  .audio
    background-color black
  .desc
    padding 1rem
    background-color #F6F6F6