.episode {
  width: 100%;
}
.episode .center {
  margin: 0 auto;
}
.episode .subtitle {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.episode .audio {
  background-color: #000;
}
.episode .desc {
  padding: 1rem;
  background-color: #f6f6f6;
}
