.main
  width 100%
  .center
    margin 0 auto
  .subtitle
    font-size 1.2rem
    font-weight bold
  .screen
    min-height 30rem
    background-color #282923
    display flex
    flex-direction column
    align-items center
    justify-content center
    .title
      color white
      font-size 6rem
      font-weight bold
    .intro
      color #F92372
      font-size 3rem
  .desc
    padding 1rem
    background-color #F6F6F6
  .episodes
    padding 1rem
    .episode
      padding 1rem 0
      .title
        font-weight bold
        text-decoration none
        box-shadow 0 1px rgba(51,122,183,0.2)
        color #7EAF22
        &:hover
          color #A3E22C
      .intro
        color #74705B
        font-size 0.8rem
        margin-bottom 10px